<app-header></app-header>
<div class="col-md-11 col-md-offset-0" style="padding-bottom: 30px;">
  <form #f="ngForm" *ngFor="let user of users; let i=index">
    <div class="cover_image">
      <img src="http://localhost/social-media/server{{user.cover}}" onerror="this.src='assets/p2.jpeg'">
      
      <div class="update_cover">
        <div class="form-group">
          <label for="cover"><i class="fa fa-camera" aria-hidden="true"></i></label>
          <input type="file" id="cover" name="fileUpload" (change)="changeFile($event,'cover')" hidden="true" style="display:none; margin-top: 150px;">
        </div>
      </div>

      <div class="user_name">
        <h2>{{user.fname}} {{user.lname}}</h2>
      </div>
      <div class="update_profile">
        <input type="button" value="Edit Profile">
      </div>
    </div>

    <div class="profile_picture">
      <img src="http://localhost/social-media/server{{user.fileName}}" class="img-rounded" onerror="this.src='assets/p1.jpeg'"> 
      <div class="update_pic">
        <div class="form-group">
          <label for="profile"><i class="fa fa-camera" aria-hidden="true"></i></label>
          <input type="file" id="profile" name="fileUpload" (change)="changeFile($event,'profile')" hidden="true" style="display:none;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">  
          <label class="control-label">First Name:
            <input [(ngModel)]="user.fname" class="form-control" type="text" name="fname" required="required">
          </label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Last Name:
            <input [(ngModel)]="user.lname" class="form-control" type="text" name="lname" required="required">
          </label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">DOB:
            <input [(ngModel)]="user.dob" class="form-control" type="text" name="dob">
          </label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Email:
            <input [(ngModel)]="user.email" class="form-control" type="email" name="email" required="required">
          </label>
        </div>
      </div>
    </div>
  </form>   
</div>
