<app-header></app-header>
<div class="col-sm-12" style="border:1px solid; margin-top: 20px; padding: 15px;">
	<table class="table-bordered">
		<tbody>
			<tr>
				<td><i class="fa fa-edit">Create Post</i></td>
				<td><i class="fa fa-camera">Photo/Video</i></td>
			</tr>
		</tbody>
	</table>
	<form #f="ngForm">
		<div class="form-group">
			<textarea [(ngModel)]="post.content" name="content" class="form-control" rows="5"></textarea>
		</div>
		<input type="file" name="uploadFile" [(ngModel)]="post.fileName" (change)="changeFile($event)">
		<button type="submit" class="btn btn-primary" (click)="addPostContent(post); f.resetForm()">Submit</button>
	</form>
</div><br>