<div class="header header-logged-out width-full" role="banner">
	<div class="container clearfix width-full text-center">
		<img src="assets/images/login.png" alt="logo">
	</div>
</div>

<div class="col-sm-5 col-sm-offset-4 center" style="border:1px solid; margin-top: 60px; padding: 15px;">
	<form #f="ngForm">
		<div class="form-group">
			<label for="login_filed">Email:	</label>
			<input [(ngModel)]="user.email" id="login_field" class="form-control" type="email" name="email" required="required" tabindex="1" autofocus="autofocus">
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input [(ngModel)]="user.password" class="form-control input-block" type="password" name="password" required="required" id="password" tabindex="2">
		</div>

		<div class="btn-toolbar text-center">
			<input type="submit" class="btn btn-primary btn-md" (click)="login()" value="Sign in"tabindex="3">
			<input type="button" class="btn btn-primary btn-md" value="Sign up" routerLink="/signup">
		</div>
	</form>
</div>

