<div class="header header-logged-out width-full" role="banner">
	<div class="container clearfix width-full">
		<div class="col-sm-5">
			<h1 style="color: #ffffff">Facebook</h1>
		</div>
		<div class="col-sm-7">
			<form #f="ngForm">
				<table>
					<thead>
						<tr>
							<td style="color: #ffffff">
								<label for="login_filed">Email:</label>
							</td>
							<td style="color: #ffffff">
								<label for="password">Password:</label>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input [(ngModel)]="user.email" id="login_field" type="email" name="email" required="required"  autofocus="autofocus">
							</td>
							<td>
								<input [(ngModel)]="user.password" type="password" name="password" required="required" id="password" >
							</td>
							<td>
								<input type="submit" (click)="login()" value="Log In">
							</td>
						</tr>
						<tr>
							<td>
					</tbody>
				</table>
			</form>
		</div>
		<!-- <div class="btn-toolbar text-center">
			<input type="button" class="btn btn-primary btn-md" value="Sign up" routerLink="/signup">
		</div> -->
	</div>

	<!-- <div class="col-sm-5 col-sm-offset-4 center" style="border:1px solid; margin-top: 60px; padding: 15px;"> -->
	</div>
