.profile_name_and_time{
	display: inline-block;
	float: left;
}
.col-sm-4{
	font-family: inherit;
	font-size: 20px;
}

.panel-footer{
	font-weight: 500;
	background-color: none;
	text-align: center;
	position: relative;
	color: #1c1e21;
	display: inline-block;
	width: 100%;
}
.profile_name_and_time h4 {
    margin-top: 0px;
}
.panel-body{
	border: 1px ridge;
	margin: 3px;
	border-block-end: inherit;
}
.text_align{
	position: absolute;
	margin-right: -5px;
	margin-top: -12px;
	margin-left: 58px;
}

.comment_profile{
	height: 34px;
	width: 34px;
	overflow: hidden;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
}
.comment_profile img {
	min-height: 100%;
	min-width: 100%;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}
.comment_textbox{
	width: calc(100% - 54px);
	float: left;
}
.comment_section{
	display: inline-block;
	width: 100%;
	padding: 6px;

}
.panel-footer i{
	margin-right: 5px;

}
.profile_image{
	height: 50px;
	width: 50px;
	margin-right: 20px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}
.profile_image img{
	min-height: 100%;
	min-width: 100%;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}
.form-control{
	border-radius: 30px;
}	
.post_image img{
	width: 100%;
}
.panel-default>.panel-heading{
	background-color: transparent;
	display: inline-block;
	width: 100%;
}
.panel.panel-default {
    border-color: #6495ed;
}
.panel-group{
	padding: 5px;
}