<div class="col-md-12">
	<form #f="ngForm">
		<div class="form-group">
			<label>Post:</label>
			<textarea [(ngModel)]="post.content" name="content" class="form-control" rows="5"></textarea>
		</div>
		<div>
			<button type="submit" class="btn btn-success" (click)="addUserPost()">Submit</button>
		</div>
	</form>
</div>
<div class="col-md-12">
<div class="card" style="width:400px">
	<div class="card-body">
		<h4 class="card-title">Kinjal Virani</h4>
		<p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
		
	</div>
</div>
</div>