<nav class="navbar navbar-default">
  <div class="container-fluid"> 
    <div class="navbar-header">
      <div class="navbar-brand"> 
          <img src="../assets/images/facebook.png" height="35px" width="35px">
      </div>
        <ul class="nav navbar-nav">
          <li><a routerLink="/mywall">Mywall</a></li>
          <li><a routerLink="/connection">Connection</a></li>
          <li><a routerLink="/chat">Chat</a></li>
          <li><a routerLink="/feeds">Feeds</a></li>
          <li><a routerLink="/allpost">AllPost</a></li>
          <li><a routerLink="/addpost">AddPost</a></li>
          <li><a routerLink="/search">Search</a></li>
          <li><a (click)="onLogout()">LogOut</a></li>
        </ul>
      </div>
   
  </div>
</nav>
