<header>
  <div class="header_section">    
    <div class="header_logo">
      <img src="../assets/images/facebook.png" alt="logo image" style="height:40px; width:40px;" class="img_responsive"/>
    </div>    
    <div class="header_right">
      <ul>
        <!-- <li class="login"><a href="#" id="login_popup" routerLink="/login">Login</a></li>
          <li class="register"><a href="#" id="register_popup" routerLink="/signup">SignUp</a></li> --> 
          <li class="logout"><a (click)="onLogout()">LogOut</a></li>                       
        </ul> 
        <button></button>
      </div>
      <div class="search_submit">
        <a href="javascript:void(0)" class="mobile_serch"><img src="../assets/images/header_search_icon.png" alt="search"/></a>
        <div class="search">
          <form>
            <input type="text" placeholder="Search..." class="header_search" [(ngModel)]="key" id="key"  name="key">
            <input type="submit" value="" class="header_submit" (click)="searchUser()">
          </form>
        </div>
      </div> 
    </div>
  </header>
  <br>
